.message_page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.title {
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 2rem;
  letter-spacing: 1rem;
  color: var(--color-text);
}

.messagebox {
  align-self: center;
  padding: 1rem;
}

.message {
  width: 80vw;
  font-size: 1.3rem;
  line-height: 3rem;
  font-family: "KyoboHandwriting2021sjy";
}

.name {
  font-family: "NanumBarunpen";
  width: auto;
  padding: 0.5rem 3rem;
  align-self: center;
  margin-top: 4rem;
  box-sizing: border-box;
}
