.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.title {
  font-family: "KyoboHandwriting2021sjy";
  font-size: 2rem;
  letter-spacing: 1rem;
  color: var(--color-text);
}
.messagebox {
  align-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.message {
  width: 90vw;
  font-size: 1rem;
  line-height: 3rem;
}
.button {
  background-color: var(--color-highlight-text);
  font-size: 1.2rem;
  color: white;
  margin: 0rem 4rem;
}

.family {
  font-family: "NanumBarunpen";
  font-size: 1.4rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.parents {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.dot {
  align-self: center;
  color: var(--color-highlight-text);
  margin: 0 1rem;
}

.parents_name {
  background-color: var(--color-mint);
  padding: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
}

.role {
  font-size: 0.8rem;
  padding-right: 1rem;
}
